.meu-top {
    position: relative;
    padding: 15px 25px;
    box-shadow: 0 0 10px #000!important;
    border-radius: 8px;
}
.menuBottom {
    margin: 25px 0;
    box-shadow: 0 0 10px #000!important;
    padding: 0 25px 10px;
    border-radius: 8px;
}
.list-title {
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
}
.meu-top label {
    font-size:14px;
    color: #000;
    flex: 1;
    margin:10px auto 0;
}

.menu-but {
    flex: 1;
    display: flex;
    align-self: flex-end;
    justify-content: flex-end;
    
}

.el-upload-list__item.is-success .el-upload-list__item-status-label {
    display: none;
}
.hide .el-upload--picture-card {
    display: none!important;
}