.mainIncrease {
    margin: 0 50px 50px;
    padding-bottom: 20px;
    box-shadow: 0 0 10px #000!important;
    border-radius: 5px;
}
.increaseTitle {
    font-size: 18px;
    font-weight: 200;
    color: #000;
    padding: 12px;
    box-shadow: 0 0 10px #000!important;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main {
    margin: 30px auto;
    width: 400px;
    border: 6px solid rgb(155, 155, 155);
    border-radius: 5px;
}
.main video {
    width: 100%;
}
.Content {
    width: 90%;
    margin: 10px auto;
}
.Athor {
    margin: 5px auto;
    display: flex;
    align-items: center;
}
.Athor span {
    margin-right: 30px;
    font-size: 14px;
    font-weight: 550;
}
.Content p {
    display: flex;
    flex-wrap: wrap;
    margin: 10px auto;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 2px;
}
.intro {
    font-size: 14px;
    padding: 5px;
    border: 1px solid rgb(199, 199, 199);
}