.mainIncrease {
    margin: 0 50px 50px;
    padding-bottom: 20px;
    box-shadow: 0 0 10px #000!important;
    border-radius: 5px;
}
.increaseTitle {
    font-size: 18px;
    font-weight: 200;
    color: #000;
    padding: 12px;
    box-shadow: 0 0 10px #000!important;
    border-radius: 5px;
}
.mainIncrease label {
    color: #000;
    flex: 1;
    line-height: 30px;
    margin: 0!important;
    width: 85px!important;
}
.editForm {
    padding: 25px 10% 0!important;
}

.el-form-item__content {
    line-height: 0;
    padding: 0;
}
.upload-demo {
    display: flex;
    margin: 0;
    height: 150px;
  }
.el-list-enter-active,
.el-list-leave-active {
    transition: none;
  }
.el-list-enter,
.el-list-leave-active {
    opacity: 0;
  }
.el-upload-list {
    height: 40px;
  }
.hide .el-upload--picture-card {
    display: none;
}
.fristRow {
    flex:5
}
.avatar-uploader .el-upload {
    border: 5px dashed rgb(199, 199, 199);
    border-radius: 0px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    width: 150px;
    height: 150px;
    line-height: 150px;
    font-size: 28px;
    color: rgb(141, 141, 141);
  }
.avatar {
    width: 100%!important;
    height: 100%;
}
.video-avatar {
    width: 100%;
}


 