.mainIncrease {
    margin: 0 50px 50px;
    padding-bottom: 20px;
    box-shadow: 0 0 10px #000!important;
    border-radius: 5px;
}
.increaseTitle {
    font-size: 18px;
    font-weight: 200;
    color: #000;
    padding: 12px;
    box-shadow: 0 0 10px #000!important;
    border-radius: 5px;
}
.mainIncrease label {
    color: #000;
    flex: 1;
    line-height: 30px;
    margin: 0!important;
    width: 85px!important;
}
.editForm {
    padding: 25px 10% 0!important;
}
.ql-editor {
    height: 300px;
}
.el-form-item__content {
    line-height: 0;
    padding: 0;
    margin-left: 85px!important;
}
.upload-demo {
    display: flex;
    
  }
  .el-list-enter-active,
 .el-list-leave-active {
    transition: none;
  }

  .el-list-enter,
   .el-list-leave-active {
    opacity: 0;
  }
  .el-upload-list {
    height: 40px;
  }
  .upload-demo {
    margin: 0;
    height: 150px;
}
.hide .el-upload--picture-card {
    display: none;
}
.el-icon-plus {
    color: #000!important;
    margin-top: 35px;
}
.el-icon-plus p { 
    font-size:14px;
    margin-top: 10px;
} 
.fristRow {
    flex:1
}
.upVideo {
    width: 100%;
    border: 1px solid #cfcfcf;
}
.video-js {
    margin: 20px auto;
    width:50%; 
    height:250px
}
.avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    width: 150px;
    height: 150px;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 50px!important; 
    line-height: normal!important;
    text-align: center;
  }
  .el-icon-upload,.el-icon-upload2 {
    margin-top: 40px;
    margin-bottom: -40px;
  }
 
 