.MainIncrease {
    margin: 0 0 20px;
    padding-bottom: 20px;
    box-shadow: 0 0 10px #000!important;
    border-radius: 5px;
}
.IncreaseTitle {
    font-size: 18px;
    font-weight: 200;
    color: #000;
    padding: 12px;
    box-shadow: 0 0 10px #000!important;
    border-radius: 5px;
}
.MainIncrease label {
    color: #000;
    flex: 1;
    line-height: 30px;
    margin: 0!important;
}
.editForm {
    padding: 50px 10% 0!important;
}

.el-form-item__content {
    line-height: 0;
    padding: 0;
}
.upload-demo {
    display: flex;    
  }
  .el-list-enter-active,
 .el-list-leave-active {
    transition: none;
  }

  .el-list-enter,
   .el-list-leave-active {
    opacity: 0;
  }
  .el-upload-list {
    height: 40px;
  }
  .upload-demo {
    margin: 0;
    height: 150px;
}
.hide .el-upload--picture-card {
    display: none;
}
.el-icon-plus {
    color: #000!important;
    margin-top: 35px;
}
.el-icon-plus p { 
    font-size:14px;
    margin-top: 10px;
} 
.el-upload-list__item.is-success .el-upload-list__item-status-label {
    display: none;
}
.el-input.is-disabled .el-input__inner {
    color: #000;
}